#projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.projetos-container {
  display: flex;
  justify-content: center; /* Alinha os itens ao centro */
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5rem; /* Espaçamento entre as boxes */
}

.projeto-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 320px; /* Aumenta a largura máxima */
  margin: 0.5rem; /* Reduz a margem */
  padding: 1rem;
  height: 320px; /* Aumenta a altura fixa */
  border-radius: 10px;
 
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 150px; /* Altura fixa */
  object-fit: contain; /* Mantém a proporção da imagem */
  border-radius: 10px;
  margin-bottom: 1.25rem;
  margin-top: 1.5rem;
}

.project-title {
  font-size: 1.2rem; /* Aumenta o tamanho da fonte */
  font-weight: bold;
  color: #333;

}

.projeto__button{
  color: var(--tittle-color);
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
  margin-top: 1.75rem;
}

.projeto__button-icon{
  font-size: 1rem;
  transition: 0.3s;
}

.projeto__button:hover .projeto__button-icon{
  transform: translate(0.25rem);
}


@media (max-width: 768px) {
  .projeto-box {
    max-width: 45%; /* Ajusta a largura para telas menores */
  }
}

@media (max-width: 500px) {
  .projeto-box {
    max-width: 90%; /* Ajusta a largura para telas muito pequenas */
  }
}
