.qualificacao__container{
    max-width: 768px;
}

.qualificacao__tabs{
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}

.qualificacao__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: var(--mb-1);
    cursor: pointer;
}

.qualificacao__button:hover{
    color: var(--tittle-color-dark);
}

.qualificacao__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualificacao__active{
    color: var(--tittle-color-dark);
}

.qualificacao__sections{
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.qualificacao__content{
    display: none;
}

.qualificacao__content-active{
    display: block;
}

.qualificacao__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualificacao__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualificacao__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-5);
}

.qualificacao__calender{
    font-size: var(--small-font-size);
}

.qualificacao__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.qualificacao__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
}

@media screen and (max-width: 992px) {
    .qualificacao__container{
        margin-left: auto;
        margin-right: auto;
    }
  }
  
@media screen and (max-width: 768px) {
    .qualificacao__container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
  }
  
@media screen and (max-width: 576px) {
    .qualificacao__sections{
        grid-template-columns: initial;
    }
    .qualificacao__button{
        margin: 0 var(--mb-0-75);
    }
  }
  
@media screen and (max-width: 350px) {
    .qualificacao__data{
        gap: 0.5rem;
    }
  }